@import "tailwindcss";

:root {
  --color-brand-blue: #2563eb;
  --color-brand-dark: #0f172a;
  --color-surface-light: #f8fafc;
  --background: #f8fafc;
  --foreground: #0f172a;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

@layer utilities {

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }

  .glass-effect {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-sm;
  }

}